@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

body {
  background-color: #1f2937;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  height: 100vh;
}
