@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

body {
  background-color: #1f2937;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  height: 100vh;
  margin: 0;
}

/* Override Termly banner font size */
.termly-styles-bottom-d26761.termly-styles-termly-stretch-c62824,
.termly-styles-bottom-d26761.termly-styles-termly-banner-e1ed59 {
  max-height: 40vh;
}

.termly-styles-p-f5e0b2 {
  font-size: 10px;
}
