<!-- Footer -->
<footer>
  <div class="footer-container">
    <a class="footer-item" href="https://ai.fullstackista.com/"
      >© 2025 Fullstackista AI</a
    >
    <a
      class="footer-item"
      href="https://www.fullstackista.com/terms-conditions"
      target="_blank"
      rel="noopener noreferrer"
      >Terms & Conditions</a
    >
    <a
      class="footer-item"
      href="https://www.fullstackista.com/privacy-policy"
      target="_blank"
      rel="noopener noreferrer"
      >Privacy Policy</a
    >
    <a
      class="footer-item"
      href="https://www.fullstackista.com/cookie-policy"
      target="_blank"
      rel="noopener noreferrer"
      >Cookie Policy</a
    >
    <a
      class="footer-item"
      href="https://www.fullstackista.com/"
      target="_blank"
      rel="noopener noreferrer"
      >Fullstackista.com</a
    >
    <a
      class="footer-item"
      href="https://app.fullstackista.com/"
      target="_blank"
      rel="noopener noreferrer"
      >Fullstackista App</a
    >
  </div>
</footer>
